<!DOCTYPE html>
<html>
  <style >
  table{
    padding-top:30px; 
    padding-left:20px;
  }
  html{
    background-image: url(music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
   <head>
    <meta charset=UTF-8>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>       
   </head>

   <body ng-app="myApp" ng-controller="MainController" ng-init="searchTerms='Maroon 5'">
      <div class="searchBox">
        <h4>Nombre de la banda o cantante que quiere buscar
        <input ng-model="searchTerms" />
        <button ng-click="search()">Search</button></h4>
      </div>
      
      <div id="results">
         
        <table  border=1>
          <tr ng-show="results != null">
            <td><font size=5>Track name</font></td>
            <td><font size=5>Group name</font></td>
            <td><font size=5>Album name</font></td>
            <td><font size=5>Album cover</font> </td>
            <td><font size=5>Preview</font></td>
          </tr>
         <tr ng-repeat="res in results"</font>  
            <td>   {{ res.trackName }}</td>
            <td>{{res.artistName}}</td>
            <td> {{res.collectionName}}</td>
            <td> <img src = "{{res.artworkUrl100}}" onmouseover="this.width=100;this.height=100;" onmouseout="this.width=60 ;this.height=60;" width="60" height="60" alt=""   </td>
            <td ng-click="play( res.previewUrl )"> <img src="http://vignette1.wikia.nocookie.net/kyyles-world/images/3/39/Play_button_logo_icon_gif_jpeg_blue.jpg/revision/latest?cb=20131017194447" width="30px" heigt="30px"> </td>
           
            
         </tr>
         </table>
      </div>

      <audio id="sample" autoplay />

      <script>
        var ITUNES_SEARCH_URL = 'https://itunes.apple.com/search?term=<<SEARCH_TERMS>>&media=music&entity=musicTrack&callback=JSON_CALLBACK';

        var app = angular.module("myApp", []);

        app.controller('MainController', ['$scope', '$http', function($scope, $http){
        	$scope.currentSearch = '';

        	$scope.search = function() {
        		$scope.currentSearch = $scope.searchTerms;

        		var xhr = $http.jsonp(ITUNES_SEARCH_URL.replace("<<SEARCH_TERMS>>", $scope.searchTerms));
        		xhr.success( function(response) {
        		   $scope.results = response.results; 
        		} );
        	};

        	$scope.play = function(url) {
        		var audio = document.getElementById('sample');
        		audio.setAttribute("src", url);
        	};
        }]);
      </script>
   </body>
</html>











